@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
}

:root {
  color-scheme: dark;

  --background: oklch(0.1613 0.0065 237.05);
  --foreground: oklch(0.9707 0.005 228.82);

  --primary: oklch(0.8 0.13 195);
  --primary-foreground: oklch(0.19 0.02 240);

  --secondary: oklch(0.27 0.008 240);
  --secondary-foreground: oklch(0.97 0.005 240);

  --muted: oklch(0.25 0.007 240);
  --muted-foreground: oklch(0.7 0.012 240);

  --accent: oklch(0.29 0.02 200);
  --accent-foreground: oklch(0.97 0.005 240);

  --destructive: oklch(0.65 0.2 22);

  --card: oklch(0.2 0.007 240);
  --card-foreground: oklch(0.97 0.005 240);

  --border: oklch(1 0 0 / 9%);
  --input: oklch(1 0 0 / 12%);
  --ring: oklch(0.8 0.13 195);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}
